.main_div {
    width: 800px;
    height: 550px;
    margin-left: 350px;
    margin-top: 50px;
    display: block;
    text-align: center;
    padding: 20px;
    background-color: aqua;
    border-radius: 30px;
    border: 2px solid red;
}

@media screen and (max-width: 576px) {
    body .main_div {
        width: 290px;
        height: auto;
        margin-left: 5px;
    }
}